// 页面
page {
  font-size: $uni-font-size-base;
  color: $uni-text-color;
  background-color: $uni-bg-color;
}

// 图片
image {
  width: 100%;
  height: 100%;
}

.title {
  font-weight: bold;
  line-height: 150%;

  letter-spacing: 0.5px;
}

// 标题省略
.title-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  word-break: break-all;
  -webkit-box-orient: vertical;
}

// 标题省略
.title-ellipsis-sm {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  word-break: break-all;
  -webkit-box-orient: vertical;
}

// 商品卡片
.product-card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32rpx;

  width: 330rpx;

  background: #ffffff;

  border: 1px solid #ebf0ff;
  border-radius: 10rpx;

  .image {
    width: 266rpx;
    height: 266rpx;

    border-radius: 10rpx;

    image {
      border-radius: 10rpx;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16rpx;
    padding: 0;

    width: 266rpx;

    .title {
      height: 80rpx;

      font-weight: bold;
    }

    .price {
      font-weight: bold;
      line-height: 180%;

      letter-spacing: 0.5px;

      color: $uni-color-primary;
    }
  }
}

// 固定底部按钮
.btn-fixed-bottom {
  position: fixed;
  width: 750rpx;
  height: 200rpx;
  bottom: 0;
}

// 按钮
.btn {
  width: 686rpx;
  height: 114rpx;
  // margin-top: 24rpx;
  margin-left: calc(50% - 686rpx / 2);

  background: #40bfff;

  box-shadow: 0 20rpx 60rpx rgba(64, 191, 255, 0.24);
  border-radius: 10rpx;

  font-weight: bold;
  font-size: 28rpx;
  line-height: 114rpx;

  text-align: center;
  letter-spacing: 0.5px;

  color: #ffffff;
}
